@media screen and (max-width: 720px) {
    
  }

  @media screen and (max-width: 768px) {
    p {
      font-size: 1.5rem;
    }
  }
  img {
    display: block;
    max-width: 100%;
  }




  body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
  }
  
  .topnav {
    overflow: hidden;
    background-color: #050505;
  
   
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 25px 16px;
    text-decoration: none;
    font-size: 17px;
    height: 20px;
    transition: 2000ms;
   
  }
  
  .topnav a:hover {
    background-color: rgb(122, 122, 122);
  
  }
  
  .topnav a.active {
  
    color: rgb(0, 147, 245);
  
  } 
  #div1{

    background-color: rgb(0, 0, 0);
    height: 130vh;
    width: 100%;
    margin-top: -15%;
  
  }
  #div1 img{
    margin-left: 25%;
    margin-right: 25%;
    display:grid;
    width: 100%;
    background-color: #050505;
    
  }

  .parent {
    display: flex;
    top: 0;
    width: 99%;
    
    border: solid;
    border-radius: 200px 200px 0px 0px;
    
  
  }
  .image1 {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 80vh;
    filter: blur(20px);
    background-color: #050505;
    border: solid;
    border-radius: 200px 200px 0px 0px;
   
  }
  .image2 {
    position: absolute;
   margin-top: 10%;
   margin-left: 15%;
   margin-right: 15%;
  
    width: 70%;
    height: 50vh;
    border: solid goldenrod;
    border-radius: 1000px 0px 1000px 0px;
   
  }

